{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <main>
        <div class="w-100 text-center">
            <p>Write your email for receive a verification code</p>
        </div>
        <form action="" class="d-flex flex-column">

        <label for="email">E-mail:</label>
        <input type="email" class="form-control">
        <button class="btn btn-success mt-3">Send Code</button>

        </form>
    </main>
    
</body>
</html>